[Unit]
Description=Start Cosmic Agent
DefaultDependencies=no
After=systemd-networkd-wait-online.service

[Service]
RemainAfterExit=yes
EnvironmentFile=-/etc/default/cloud
ExecStart=/opt/cosmic/agent/_run.sh
ExecStop=/usr/bin/pkill java
Restart=always

[Install]
WantedBy=multi-user.target