[Unit]
Description=Start Cosmic Agent
After=systemd-networkd-wait-online.service mountkernfs.service local-fs.target cloud-early-config.service
Wants=systemd-networkd-wait-online.service cloud-early-config.service

[Service]
RemainAfterExit=yes
EnvironmentFile=-/etc/default/cloud
ExecStart=/opt/cosmic/agent/_run.sh
ExecStop=/usr/bin/pkill java
Restart=always

[Install]
WantedBy=multi-user.target