[Unit]
Description=Start Cosmic Agent
After=network-online.target mountkernfs.service local-fs.target cloud-early-config.service
Wants=network-online.target cloud-early-config.service

[Service]
RemainAfterExit=yes
EnvironmentFile=-/etc/default/cloud
ExecStart=/opt/cosmic/agent/_run.sh
ExecStop=/usr/bin/pkill java
Restart=always

[Install]
WantedBy=multi-user.target